<div class="row">
<div class="col-lg-12 card border-0 bg-transparent mt-3">
  <img class="card-img-top" src="adamsmith.jpg" alt="image" style="height: 500px; object-fit:cover;"/>
  <div class="card-body text-left p-0">
    <div class="h6 pt-3"><a href="" class="font-weight-normal">BOOKSHELF</a></div>
    <div class="card-title h4 text-white">How Adam Smith Can Change Your Life</div>
    <div class="card-text"><p>This book takes the ideas and insights from Adam Smith’s “The Theory of Moral Sentiments” and makes them more accessible to the modern reader...</p></div>
  </div>
</div>
</div>
<hr/>

<div class="row">
<div class="col-lg-4 card border-0 bg-transparent mt-3">
  <img class="card-img-top" src="ctci.png" alt="image" style="height: 200px; object-fit:cover;"/>
  <div class="card-body text-left p-0">
    <div class="h6 pt-3"><a href="" class="font-weight-normal">CODING</a></div>
    <div class="card-title h4 text-white">Cracking The Coding Interview: Study Group Details</div>
    <div class="card-text"><p>Details for the Cracking The Coding Interview study group. Sign up to get an invite to our discord if you’re joining our group. Anyone is welcome to join...</p></div>
  </div>
</div>

<div class="col-lg-4 card border-0 bg-transparent mt-3">
  <img class="card-img-top" src="problemsolving.jpg" alt="image" style="height: 200px; object-fit:cover;"/>
  <div class="card-body text-left p-0">
    <div class="h6 pt-3"><a href="" class="font-weight-normal">CODING JAVASCRIPT</a></div>
    <div class="card-title h4 text-white">How to Solve Coding Problems</div>
    <div class="card-text"><p>I had fifteen minutes left, and I knew I was going to fail. I had spent two months studying for my first technical interview. I thought I was prepared, but as the interview came to a close...</p></div>
  </div>
</div>

<div class="col-lg-4 card border-0 bg-transparent mt-3">
  <img class="card-img-top" src="" alt="image" style="height: 200px; object-fit:cover;"/>
  <div class="card-body text-left p-0">
    <div class="h6 pt-3"><a href="" class="font-weight-normal"></a></div>
    <div class="card-title h4 text-white"></div>
    <div class="card-text"><p></p></div>
  </div>
</div>

<div class="col-lg-4 card border-0 bg-transparent mt-3">
  <img class="card-img-top" src="" alt="image" style="height: 200px; object-fit:cover;"/>
  <div class="card-body text-left p-0">
    <div class="h6 pt-3"><a href="" class="font-weight-normal"></a></div>
    <div class="card-title h4 text-white"></div>
    <div class="card-text"><p></p></div>
  </div>
</div>

<div class="col-lg-4 card border-0 bg-transparent mt-3">
  <img class="card-img-top" src="" alt="image" style="height: 200px; object-fit:cover;"/>
  <div class="card-body text-left p-0">
    <div class="h6 pt-3"><a href="" class="font-weight-normal"></a></div>
    <div class="card-title h4 text-white"></div>
    <div class="card-text"><p></p></div>
  </div>
</div>

<div class="col-lg-4 card border-0 bg-transparent mt-3">
  <img class="card-img-top" src="" alt="image" style="height: 200px; object-fit:cover;"/>
  <div class="card-body text-left p-0">
    <div class="h6 pt-3"><a href="" class="font-weight-normal"></a></div>
    <div class="card-title h4 text-white"></div>
    <div class="card-text"><p></p></div>
  </div>
</div>

<div class="col-lg-4 card border-0 bg-transparent mt-3">
  <img class="card-img-top" src="" alt="image" style="height: 200px; object-fit:cover;"/>
  <div class="card-body text-left p-0">
    <div class="h6 pt-3"><a href="" class="font-weight-normal"></a></div>
    <div class="card-title h4 text-white"></div>
    <div class="card-text"><p></p></div>
  </div>
</div>
</div>